In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#machine learning tools
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.calibration import CalibratedClassifierCV
from sklearn.metrics import classification_report, confusion_matrix

#models and balancing
from xgboost import XGBClassifier #XGBoost is our main prediction model.
from imblearn.over_sampling import SMOTE #SMOTE helps balance the dataset (since failures are rare).

#Set Randomness for reproducibility
np.random.seed(42)

In [14]:

df = pd.read_csv("Data\dataset.csv")
df.head(15)

    UDI Product ID Type  Air temperature [K]  Process temperature [K]  ...  TWF  HDF  PWF  OSF  RNF
0     1     M14860    M                298.1                    308.6  ...    0    0    0    0    0
1     2     L47181    L                298.2                    308.7  ...    0    0    0    0    0
2     3     L47182    L                298.1                    308.5  ...    0    0    0    0    0
3     4     L47183    L                298.2                    308.6  ...    0    0    0    0    0
4     5     L47184    L                298.2                    308.7  ...    0    0    0    0    0
5     6     M14865    M                298.1                    308.6  ...    0    0    0    0    0
6     7     L47186    L                298.1                    308.6  ...    0    0    0    0    0
7     8     L47187    L                298.1                    308.6  ...    0    0    0    0    0
8     9     M14868    M                298.3                    308.7  ...    0    0    0    0    0
9    10     M14869    M                298.5                    309.0  ...    0    0    0    0    0
10   11     H29424    H                298.4                    308.9  ...    0    0    0    0    0
11   12     H29425    H                298.6                    309.1  ...    0    0    0    0    0
12   13     M14872    M                298.6                    309.1  ...    0    0    0    0    0
13   14     M14873    M                298.6                    309.2  ...    0    0    0    0    0
14   15     L47194    L                298.6                    309.2  ...    0    0    0    0    0

[15 rows x 14 columns]

In [18]:
# Label Encoding
df['Type'] = LabelEncoder().fit_transform(df['Type'])

In [19]:
df.head(15)

    UDI Product ID  Type  Air temperature [K]  Process temperature [K]  ...  TWF  HDF  PWF  OSF  RNF
0     1     M14860     2                298.1                    308.6  ...    0    0    0    0    0
1     2     L47181     1                298.2                    308.7  ...    0    0    0    0    0
2     3     L47182     1                298.1                    308.5  ...    0    0    0    0    0
3     4     L47183     1                298.2                    308.6  ...    0    0    0    0    0
4     5     L47184     1                298.2                    308.7  ...    0    0    0    0    0
5     6     M14865     2                298.1                    308.6  ...    0    0    0    0    0
6     7     L47186     1                298.1                    308.6  ...    0    0    0    0    0
7     8     L47187     1                298.1                    308.6  ...    0    0    0    0    0
8     9     M14868     2                298.3                    308.7  ...    0    0    0    0    0
9    10     M14869     2                298.5                    309.0  ...    0    0    0    0    0
10   11     H29424     0                298.4                    308.9  ...    0    0    0    0    0
11   12     H29425     0                298.6                    309.1  ...    0    0    0    0    0
12   13     M14872     2                298.6                    309.1  ...    0    0    0    0    0
13   14     M14873     2                298.6                    309.2  ...    0    0    0    0    0
14   15     L47194     1                298.6                    309.2  ...    0    0    0    0    0

[15 rows x 14 columns]

In [20]:
# High Q - 0 
# Low Q - 1
# Medium Q - 2